.DS_Store
.coverage
.coverage.*
.hypothesis
.pytest_cache
.ipynb_checkpoints
.pytest_cache
__pycache__
server.log
SQLlite.db
key.*
cert.*
*.cert
*.key
temp
duckcli.egg-info*
dist
venv
env
*.zip
site
.vscode
.mypy_cache
.idea
*.db
*.log
poetry.lock
TODO.md