{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#menu1">Automation</a></li>

    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <br>
            <a href="{%url 'createtask' %}" class="btn btn-md btn-info">
            <span class="glyphicon glyphicon-plus"></span> Add new task</a>
            <br>
            <br>
            <div class="col-md-12">
                         <table id="automation" class="table table-bordered table-condensed" data-page-length="50"  width="100%"></table>

                    </div>
                </div>

        <div id="home" class="tab-pane fade">
        </div>

    </div>
</div>
<script>

var autotaks = {{autotasklist|safe }};

$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    $('#automation').DataTable( {
        data: autotaks,
        columns: [
             {
             title : "taskId",
             "render" : function(title, type, row, meta){
                if(type === 'display'){
                   return $('<a>')
                      .attr('href', title)
                      .text(title)
                      .wrap('<div></div>')
                      .parent()
                      .html();

                } else {
                   return title;
                }
             }
            } ,
            { title: "taskName"},
            { title: "taskRequester" },
            { title: "taskProject"},
            { title: "taskRundatetime" },
            { title: "taskAssignee" },
            { title: "taskDescription" },

        ]
    } );

});
</script>

{% endblock %}

