{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="row-fluid">

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                        <i class="fa fa-database fa-5x"></i>

                    </div>
                    <div class="col-xs-9 text-right">
                        <div><h1>Inventory</h1></div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a href="{% url 'inventory' %}">
                    <span class="pull-left">Inventory</span>
                </a>


                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                        <i class="fa fa-sticky-note fa-5x"></i>

                    </div>
                    <div class="col-xs-9 text-right">
                        <div><h1>Automation Planning</h1></div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a href="#">
                    <span class="pull-left">TODO</span>
                </a>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                        <i class="fa fa-cogs fa-5x"></i>

                    </div>
                    <div class="col-xs-9 text-right">
                        <div><h1>Automation Tasks</h1></div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a href="{% url 'automation' %}">
                    <span class="pull-left">Task list</span>
                </a>

                <div class="clearfix"></div>
            </div>

        </div>

    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                        <i class="fa  fa-tasks fa-5x"></i>

                    </div>
                    <div class="col-xs-9 text-right">
                        <div><h1>CI/CD Jobs</h1></div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a href="#">
                    <span class="pull-left">TODO</span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

{% endblock %}