{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#menu1">Inventory</a></li>
        <li> <a href="#home">Charts</a></li>

    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <br>
            <a href="{%url 'createasset' %}" class="btn btn-md btn-info">
            <span class="glyphicon glyphicon-plus"></span> Add New Node</a>
            <br>
            <br>
            <div class="col-md-12">
                         <table id="inventory" class="table table-bordered table-condensed" data-page-length="50"  width="100%"></table>

                    </div>
                </div>

        <div id="home" class="tab-pane fade">
            <div id="assetchrt" style="width: 60%; height:400px;"></div>
        </div>

    </div>
</div>
<script>

var dataSet2 = {{inventorydata|safe }};

$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    $('#inventory').DataTable( {
        data: dataSet2,
        columns: [
             {
             title : "NodeName",
             "render" : function(title, type, row, meta){
                if(type === 'display'){
                   return $('<a>')
                      .attr('href', title)
                      .text(title)
                      .wrap('<div></div>')
                      .parent()
                      .html();

                } else {
                   return title;
                }
             }
            } ,
            { title: "Hardware"},
            { title: "Software" },
            { title: "MgmtIP"},
            { title: "Vendor" },
            { title: "AdminStatus" },
            { title: "DevcieGroup" },
            { title: "DeviceType" },
            { title: "RackID" },
            { title: "SiteName" },

        ]
    } );

});
</script>

{% endblock %}

