{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block  content %}

<div class=" container-fluid bg-primary">
    <strong><font size="5" color="white">{{hostname}}</font></strong>
</div>
<p></p>

<div class="container-fluid ">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Device Summary</a></li>
            <li><a Class="M4" data-toggle="tab" href="#menu4">ConfigView</a></li>
            <li><a Class="M10" data-toggle="tab" href="#menu8">EditInventoryDetails</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <p></p>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">Device Summary</div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-4">Hostname:</td>
                                    <td class="default"><strong><font size="3"
                                                                      color="black">{{hostname}}</font></strong></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4">Mgmt IP:</td>
                                    <td class="default"><strong><font size="3"
                                                                      color="black">{{devfactdict.mgmtip}}</font></strong></td>
                                </tr>
                                <tr>
                                    <td>Vendor:</td>
                                    <td class="default"><strong><font size="3"
                                                                      color="black">{{devfactdict.vendor}}</font></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hardware:</td>
                                    <td class="default"><strong><font size="3"
                                                                      color="black">{{devfactdict.hardware}}</font></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Site:</td>
                                    <td class="default"><strong><font size="3"
                                                                      color="black">{{devfactdict.sitename}}</font></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rack Location:</td>

                                    <td class="default"><strong><font size="3" color="black"><a href="#">{{devfactdict.racklocation}}</a></font></strong>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

        </div>
            <div>
        <div id="menu1" class="tab-pane fade">

        </div>

        <div id="menu2" class="tab-pane fade">
            <div>
                <p>test data2</p>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <p></p>
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table id="interfacestatus" class="display compact cell-border" data-page-length="50"  width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <p></p>

            <div class="row">

            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                </div>
                <button id="hide">Hide</button>
                <button id="show">Show</button>
                <div class="panel panel-info">
                    <div class="panel-heading">Current Config</div>
                    <div id="showrun" class="panel-body">
                    <p>{{devfactdict.configfile|linebreaks}}</p>
                    </div>
                </div>
            </div>
        </div>

            <div id="menu8" class="tab-pane fade">
            <p></p>

            <div class="row">

            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="container">
                            <div class='col-sm-8'>
                            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                            {{ form|crispy }}
                                <br>
                            <br>
                            <input id="getdiff" type='submit' class='btn btn-info' value='Update' />
                            </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

    </div>
                </div>
</div>
<script>

$(document).ready(function(){

    $("#hide").click(function(){
    $("#showrun").hide();
    });
    $("#show").click(function(){
    $("#showrun").show();
    });


 });


</script>

{% endblock %}






